<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/htmx.org@1.5.0"></script>
        <style>
            .htmx-indicator{
                display: none;
            }
            .htmx-request .htmx-indicator{
                display: inline;
            }

            .htmx-inverter-indicator{
                display: inline;
            }
            .htmx-request .htmx-inverter-indicator{
                display: none;
            }
            .htmx-massage-inline{
                display: inline;
            }
        </style>
    </head>
        <body>
            THIS WILL BE IN EVERY FILE HAHAHA
            {% include "search/search-form.html" %}
            <button><a href="/">GO HOME</a></button>
            <ul>
            <li><button><a href="{% url 'articles:create' %}">Create</a></button></li>
            <li><button><a href="{% url 'register' %}">Register</a></button></li>
            <li><button><a href="{% url 'login' %}">Login</a></button></li>
            <li><button><a href="{% url 'logout' %}">Logout</a></button></li>
            </ul>
            {% block content %}
            {% endblock content %}
        </body>
</html>


