
{% extends "base.html" %}


{% block content %}


<!-- {% if not created %} -->

<form action='' method="POST" enctype="multipart/form-data"
    hx-post="{{ request.path }}"
    hx-encoding="multipart/form-data"
> 
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" > Upload image</button> </div>

</form>


<!-- 
{% else %}


<div style="margin-top:120px;"> <h1> New title was created {{form.title.value}} with content: {{form.content.value}}</h1> </div>
<button><a href="{% url 'articles:detail' slug=slug %}">You can check that article by clicking this button </a></button>

{% endif %} -->


{% endblock content %}

