
<div id="recipe-container">
<form  action="" method="POST" hx-post="." hx-swap="'outerHTML" {% if form.instance.id %} hx-trigger="change delay:500ms, {% endif %} submit"> 
    {% csrf_token %}
    {% for field in form %}

    <div class='{% if field.field.required %}{{form.required_css_class}}{%endif%}'>

        {{ field.errors }}
        {{field.label}}: {{field}}
    {% if field.help_text|safe %}
        <p class="help">{{  field.help_text }}</p>
    {% endif %}
    </div>
    {% endfor %}


    <div class='htmx-indicator'>Loading....</div>
    <button class='htmx-inverter-indicator' type="submit" >Save info</button> 
    {% if message %}
    <div class="htmx-massage-inline">{{ message }}</div>
    {% endif %}
    </form>

</div>